@page "/employeedetail/{id}"

<h3>Employee Detail</h3>
<p>Employee Id: @Employee.EmployeeId</p>
<p>Employee Name: @Employee.FirstName @Employee.LastName</p>
<p>Employee Email: @Employee.Email</p>
<p>Employee Birth Date: @Employee.DateOfBirth</p>
<p>Employee Department: @Employee.DepartmentName</p>

